{% extends 'base.html' %}
{% load static %}

{% block contents %}

<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">게시판</h2>
            <h3 class="section-subheading text-muted">할 말이 없어요.</h3>
        </div>
        <div class="row">
            {% for post in posts %}
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="/board/read/{{ post.id }}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% if post.postimage_set.all %}{% for postimage in post.postimage_set.all %}/media/{{postimage.image }}{% endfor %}{% else %}{% static 'assets/img/portfolio/1.jpg'%}{% endif %}" alt="..."/>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">{{ post.title }}</div>
                        <div class="portfolio-caption-subheading text-muted">{{ post.writer }}</div>

                        <div class="portfolio-caption-heading" onclick="sendRequest({{ post.id }}, this)">
                            {% if request.user in post.like.all %}
                                ♥  {{ post.like.count }}
                            {% else %}
                                ♡  {{ post.like.count }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
                        <script>
                            function sendRequest(bid, event) {
                                var httpRequest = new XMLHttpRequest();
                                httpRequest.onreadystatechange = function() {
                                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200 ) {
                                        var json_data = JSON.parse(httpRequest.responseText);

                                        if (json_data['message']=='added') {
                                            event.innerText = "♥"+" "+json_data['like_cnt'];
                                        } else {
                                            event.innerText = "♡"+" "+json_data['like_cnt'];
                                        }
                                    }
                                };
                                // GET 방식으로 요청을 보내면서 데이터를 동시에 전달함.
                                httpRequest.open("GET", "/like/"+bid, true);
                                httpRequest.send();
                            }
                        </script>
        </div>
    </div>
</section>
{% endblock %}